.content{
    padding-left: 20%;
    padding-right: 20%;
}
header{
    background-color: #009900;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
}
header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
}
a{
    color:var(--green)
}



main{
    padding-bottom: 20px;
    padding-top: 20px;
}
main h3{
    border-bottom: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
main img{
    width: 150px;
    position: fixed;
    top: 17px;
    left:850px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(78, 72, 72);
}

footer{
    background-color: #009900;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
}

footer p{
    color:white;
    text-align: center;
}
